div.speed-gun(style="position: fixed; bottom: -1px; right: -1px; border: 1px solid #999; border-radius: 3px 0 0 0; background-color: white; font-size: 9px;")
  a(href="#" style="display: block; padding: 5px 10px")
    = "%0.2f" % (duration * 1000)
    | ms
